<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']]
  }
};
</script>
<link href="https://db.onlinewebfonts.com/c/8ec4c9ee1facfe4bd7ac04d52af457ea?family=ITC+Century+Std+Book"
      rel="stylesheet">
<style>
    h1, h2, h3, h4, h5, h6 {
      font-family: "ITC Century Std Book", Times, serif;
       font-weight: normal;
      font-size: 1.3rem;
    }
    p, li {
      font-family: "Time new roman", Times, serif;
      color:#5a5a5a;
      font-size: 1.2rem;
    }
    li:has(h3)::marker {
    color: black;
    }
    .consMarker::before {
    content: "●" !important;
    color: red !important;
    font-weight: bold !important;
    }
    .prosMarker::before {
    content: "●" !important;
    color: green !important;
    font-weight: bold !important;
    }
    .explainMarker::before {
    content: "➞" !important;
    color: blue !important;
    font-weight: bold !important;
    }
    .questionMarker::before {
    content: "Ques." !important;
    font-weight: bold !important;
    margin-left: -2.7em;
    }
    .questionMarker {
    font-weight: bold !important;
    }
    .answerMarker::before {
    content: "Ans." !important;
    color: green !important;
    font-weight: bold !important;
    }
    .warningMarker::before {
    content: "⚠️" !important;
    }
    .ideaMarker::before {
    content: "💡" !important;
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("ul li").forEach(li => {
        if (li.textContent.substr(0,2) === "🔴") {
          li.textContent = li.textContent.replace('🔴','');
          li.classList.add("consMarker");
        }
        else if (li.textContent.substr(0,2) === "🟢") {
          li.textContent = li.textContent.replace('🟢','');
          li.classList.add("prosMarker");
        }
        else if (li.textContent.substr(0,2) === "➡️") {
          li.textContent = li.textContent.replace('➡️','');
          li.classList.add("explainMarker");
        }
        else if (li.textContent.substr(0,1) === "❓") {
          li.textContent = li.textContent.replace('❓','');
          li.classList.add("questionMarker");
        }
        else if (li.textContent.substr(0,3) === "🅰️") {
          li.textContent = li.textContent.replace('🅰️','');
          li.classList.add("answerMarker");
        }else if (li.textContent.substr(0,2) === "⚠️") {
          li.textContent = li.textContent.replace('⚠️','');
          li.classList.add("warningMarker");
        }else if (li.textContent.substr(0,2) === "💡") {
          li.textContent = li.textContent.replace('💡','');
          li.classList.add("ideaMarker");
        }

      });
    });
</script>
